<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <!-- table1 -->
            <td width="10%">
                <img src="https://cdn.infradigital.id/school/10079.png" alt="unsiq",width"50", height"50">
            </td>
            <!-- tbl2 -->
            <td width="90%">
                <h2>SELAMAT DATANG DI MATA KULIAH PEMROGRAMAN WEB</h2>
                <h3>Pertemuan ke 2 : HTML Dasar</h3>
            </td>
        </tr>

    </table>
    <hr>
    <!-- paragraf -->
     <p align="center"> Mata kuliah ini memperknalkan dasar-dasar pemrograman web menggunakan HTML, CSS, dan JavaScrip.</p>
     <p align="center">Pada pertemuan ini, kita fokus pada struktur dan elemen dasar HTML. </p>

     <hr>
     <h3> HTML ini adalah bahasa yang digunakan untuk membuat struktur halaman web. Dengan HTML, kita bisa menampulkan teks, gambar, dan link secara terorganisir. Untuk informasi lengkap dari HTML dapat kunjungi link berikut:</h3> <a href="https://if.unpas.ac.id/berita/apa-itu-html-pengertian-sejarah-dan-bagaimana-cara-kerjanya/">Penjelasan HTML</a>

     <h2>Topik utama Pertemuan ini</h2>
     <ol>
      <ul>
            <li>Struktur HTML</li>
            <li>Heading dan Paragraf</li>
            <li>List</li>
            <li>Link dan Gambar</li>
            <li>Tabel</li>
        </ul>
     </ol>

     <h2>Langkah Pratikum</h2>
     <ol>
        <li>Buat file index.php</li>
        <li>Tulis kode HTML</li>
        <li>Simpan dan buka di browser</li>
        <ul>
            <li>Buka xampp</li>
            <li>nyalakann HTML</li>
            <li>buka browser dengan url localhost/</li>

        </ul>
        <li>Verifikasi hasil</li>




</body>
</html>